#contact-details {
  padding: 0 5px;
}
.contact-info-wrapper {
  align-items: center;
  color: white;
  display: flex;
  margin-bottom: 20px;
}
.fa-contact-icon {
  font-size: 30px;
  margin-right: 5px;
  width: 40px !important;
}
@media only screen and (max-width: 1000px) {
  #contact-details {
    margin-top: 20px;
    width: 100%;
  }
  .contact-info-wrapper {
    border-bottom: 1px solid white;
  }
}
