#skills-section {
  background-image: linear-gradient(black, #2d2d2d);
  width: 100%;
  padding: 50px 0 400px 0;
}
#skills-section > div {
  background-color: white;
  border-radius: 20px;
  margin: 0 10%;
  padding: 20px;
}
#skills-section h2 {
  color: black;
  text-align: center;
  width: 100%;
}
#skills-section p {
  color: black;
  text-align: center;
  width: 100%;
}
.skills-container-row {
  display: flex;
}
.skills-container-row div {
  background-color: #db435f;
  color: white;
  margin: 2px;
  padding: 10px;
  text-align: center;
  white-space: nowrap;
  width: 100%;
}
@media only screen and (max-width: 550px){
  .skills-container-row div {
    font-size: 14px;
    white-space: nowrap;
  }
  .skills-container-row:first-of-type {
    flex-wrap: wrap;
  }
  .skills-container-row:first-of-type div {
    width: calc(50% - 24px);
  }
}
