#codebase {
  background-color: white;
  border: 1px solid black;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  font-size: 14px;
  margin: 20px 5% 20px 0;
  padding: 20px;
  text-transform: uppercase;
  transition: 0.2s;
  width: 100%;
}
#codebase:hover {
  background-color: rgb(104, 230, 223);
  box-sizing: border-box;
  color: black;
}
#explore {
  background-color: black;
  border: 1px solid black;
  border-right: none;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-size: 14px;
  margin: 20px 0 20px 5%;
  padding: 20px;
  text-transform: uppercase;
  transition: 0.2s;
  width: 100%;
}
#explore:hover {
  background-color: rgb(230, 186, 91);
  box-sizing: border-box;
  color: black;
}
.button-flex-container {
  display: flex;
}
.project-modal-container {
  background-color: white;
  border: 1px solid black;
  box-sizing: border-box;
  font-size: 14px;
  left: 0;
  margin: 25px 20%;
  padding: 5px;
  position: fixed;
  top: 0;
  width: 60%;
  z-index: 1;
}
.project-modal-container p {
  padding: 0 20px;
}
.project-modal-img {
  height: auto;
  width: 100%;
}
@media only screen and (max-width: 600px){
  #explore {
    border-bottom: none;
    border-right: 1px solid black;
    margin: 20px 5% 0 5%;
  }
  #codebase {
    margin: 0 5% 20px 5%;
  }
 .button-flex-container {
  flex-wrap: wrap;
 }
}
@media only screen and (max-width: 900px){
  .project-modal-container {
    font-size: 12px;
    margin: 25px 30px;
    width: calc(100% - 60px);
  }
  .project-modal-container p {
    padding: 0 5px;
  }
}
