.project-container {
  background-color: black;
  border-bottom: 2px solid white;
  color: white;
  cursor: pointer;
  margin: 0 20px 70px 0;
  position: relative;
}
.project-container:hover .project-thumbnail-img,
.project-container:hover .project-info-wrapper {
  opacity: 0.4;
}
.project-container:hover {
  border-bottom: 2px solid grey;
}
.project-container:hover .project-hover-element  {
  display: block;
}
.project-hover-element {
  color: white;
  display: none;
  font-size: 30px;
  position: absolute;
  text-align: center;
  top: 45%;
  width: 100%;
}
.project-thumbnail-img {
  width: 100%;
}
@media only screen and (max-width: 1000px) {
  .project-container {
    margin: 0 0 70px 0;
    width: 100%;
  }
}
@media only screen and (min-width: 1000px) {
  .project-container {
    max-width: calc(50% - 20px);
  }
  .project-thumbnail-img {
    height: 250px;
  }
}
@media only screen and (min-width: 1300px) {
  .project-container {
    max-width: calc(33% - 20px);
  }
  .project-thumbnail-img {
    height: 220px;
  }
}
@media only screen and (min-width: 1600px) {
  .project-container {
    max-width: calc(25% - 20px);
  }
  .project-thumbnail-img {
    height: 220px;
  }
}
