.testimonial-sm-wrapper {
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  height: 230px;
  margin: 10px;
  padding: 20px 5px 5px 5px;
  position: relative;
  width: 100%;
}
.testimonial-sm-wrapper > h2 {
  box-sizing: border-box;
  display: block;
  font-size: 18px;
  margin: 20px 0 0 0;
  width: 100%;
  text-align: center;
}
.star-rating {
  bottom: 10px;
  position: absolute;
  width: 100%;
  text-align: center;
}
.testimonial-sm-wrapper > p {
  box-sizing: border-box;
  margin: 0;
  padding: 0px 10px;
  width: 100%;
  text-align: center;
}
.testimonial-sm-wrapper > p:first-child {
  font-size: 18px;
}
.testimonial-sm-wrapper > p:last-of-type {
  color: #474747;
  font-size: 16px;
}

.fa-icon-star {
  color: #ffe016;
  font-size: 20px;
  margin: 5px;
}
.float-right {
  float: right;
}
@media only screen and (max-width: 600px) {

}
@media only screen and (min-width: 600px) {

}
@media only screen and (min-width: 900px) {

}
@media only screen and (min-width: 1500px) {

}
