.testimonial-sm-wrapper {
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  display: inline-block;
  height: 250px;
  margin: 10px;
  padding: 20px 5px 5px 5px;
  position: relative;
  width: 100%;
}
.testimonial-sm-wrapper > h2 {
  box-sizing: border-box;
  display: block;
  font-size: 18px;
  margin: 20px 0 0 0;
  width: 100%;
  text-align: center;
}
.star-rating {
  bottom: 10px;
  position: absolute;
  width: 100%;
  text-align: center;
}
.testimonial-sm-wrapper > p {
  box-sizing: border-box;
  font-size: 18px;
  margin: 0;
  padding: 0px 10px;
  width: 100%;
  text-align: center;
}
.testimonial-sm-wrapper > p:last-of-type {
  font-size: 16px;
  color: #474747;
}
.fa-icon-star {
  color: #ffe016;
  font-size: 20px;
  margin: 5px;
}
@media only screen and (max-width: 450px) {
  .testimonial-sm-wrapper > h2 {
    font-size: 14px;
  }
  .testimonial-sm-wrapper > p {
    font-size: 16px;
  }
  .testimonial-sm-wrapper > p:last-of-type {
    font-size: 14px;
  }
}
