#testimonials-section {
  background-color: white;
  box-sizing: border-box;
  padding-bottom: 200px;
  width: 100%;
}
#testimonials-section > h2 {
  color: black;
  font-family: "Segoe UI", "Montserrat", Arial;
  font-size: 30px;
  margin: 0;
  padding-bottom: 10px;
  padding-left: 8%;
  padding-top: 20px;
}
#testimonials-section > p {
  color: black;
  font-family: "Segoe UI", "Montserrat", Arial;
  font-size: 16px;
  margin: 0;
  padding: 0 8%;
}
#testimonials-carousel {
  box-sizing: border-box;
  width: 100vw;
  overflow: hidden;
}
#slide-wrapper {
  background-color: pink;
  box-sizing: border-box;
  padding: 0px;
  min-width: 8000px;
}
.margin-transition {
  transition: margin-left 4s;
}
.leave-a-review {
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  float: left;
  margin: 10px;
}
.leave-a-review p {
  font-size: 18px;
  margin: 50px 0 0 0;
  text-align: center;
}
.leave-a-review div {
  margin: 10px;
  text-align: center;
}
.fa-icon-plus {
  cursor: pointer;
  font-size: 50px;
}
.fa-icon-plus:hover {
  color: #7fffc7;
}

.container-row-test {
  padding: 0 8%;
  display: flex;
}
.radial-button {
  margin: 0 45% 0 45%;
  width: 10%;
}
.slide {
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  height: 15px;
  margin: 5px;
  width: 15px;
}
.active-slide {
  background-color: yellow;
}
@media only screen and (max-width: 900px) {
  .container-row-test {
    flex-wrap: wrap;
    padding: 0 10%;
  }
  .container-row-test > div {
    width: 100%;
  }
}

@media only screen and (min-width: 900px) {
  .container-row-test {
    flex-wrap: wrap;
    padding: 0 10%;
  }
  .container-row-test > div {
    max-width: 47%;
    flex: 48%;
  }

}
@media only screen and (min-width: 1500px) {
  .container-row-test {
    flex-wrap: nowrap;
  }

}
